.row-todolist {
	display: flex;
	justify-content: center;
	max-width: 965px;
	margin: auto;
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.col-todo {
	margin: 15px 15px;
}

.col-noresult {
	margin: auto;
	margin-top: 1rem;
}

.text-filter {
	color: rgba(0, 0, 0, 0.45);
	font-size: 14px;
	margin-bottom: 4px;
}

.row-topmenu {
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	margin: auto;
	justify-content: center;
	margin-top: 1.5rem;
}

.ant-switch-handle {
	background-color: rgba(255, 255, 255, 0) !important;
}

.text-capitalize {
	text-transform: capitalize;
}

.col-search,
.col-add,
.col-filter,
.col-stat div {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-content: center;
	align-items: center;
}

.col-stat div {
	justify-content: space-evenly;
}

.form-item {
	margin-right: 6px !important;
}

.add-errors {
	position: absolute;
	top: 2rem;
}

.btn-closetodo {
	border: none;
}

.col-titleTodo {
	display: flex;
	justify-content: flex-start;
	margin-left: 0.5rem;
}

.col-btnClose {
	display: flex;
	justify-content: flex-end;
}

.col-titleTodo h4 {
	font-size: 1.1rem !important;
	margin-bottom: 0.1rem !important;
}

.col-userTodo {
	display: flex;
	justify-content: flex-start;
	margin-left: 0.5rem;
}

.col-switchTodo {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.ant-card-body {
	padding: 16px;
}
