.container-todo {
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
	padding: 0.5rem 0rem;
}

.container-todo span {
	grid-area: 1 / 2 / span 12 / span 10;
	display: flex;
	padding: 0rem 0.5rem;
}

.container-todo input {
	grid-area: 1 / 1 / span 12 / span 1;
	display: flex;
	justify-self: center;
	align-self: center;
}

.btn-delete {
	grid-area: 1 / 12 / span 12 / span 1;
	display: flex;
	justify-self: center;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-size: 0.4rem;
	font-weight: bold;
	padding: 0.5rem 0.7rem;
}

.btn-delete:hover {
	background-color: red;
}
